{% load bootstrap4 %}
{% load static %}






<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Ashcomm Budget Calculator</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top" style="background-color: white">

        <div class="" id="navbarsExampleDefault">
            <img src="https://www.ashleyfurniture.com/on/demandware.static/Sites-Ashley-US-Site/-/default/dw80fd4b57/images/svg-icons/AshleyHomeStore_WebColors.svg" class="d-inline-block align-top" height="50px" style="margin: 20px 0px 0px 20px">
        </div>
    </nav>

    <main role="main" class="container">
    <h1>&nbsp;</h1>
      <div class="starter-template" style="margin-top: 60px; background-color: #F7F7F7">


        {% block content %}
        {% endblock content %}

      </div>


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>
</html>
