{% load bootstrap4 %}
{% load static %}






<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.ashleyfurniture.com/on/demandware.static/Sites-Ashley-US-Site/-/default/dwf7c34303/images/favicon.ico">

    <title>Ashcomm WorkBench | Budget Scenario Calculator</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>
    </div>
    <main role="main" class="container">
      
      <div>
       
        {% block content %}
        {% endblock content %}

      </div>


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>
</html>
