{% extends "base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load mathfilters %}

{# Display a form #}

{% block content %}
<div class="jumbotron ">
  <h1 class="display-4">Budget Scenarios</h1>
  <p class="lead">Input Spend to predict Revenue. Input Revenue to see required Spend. Adjust metrics to hit required Target.</p>
  <hr class="my-4">
<div class="row">
  <div class="col-lg-5">
    <div class="row mb-3">

      <table class="table table-sm ml-3">
      <form id='form1' action="{% url  'budgetcalc' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
          <tr>
            <td> {{form.spend.label}}</td>
            <td><input type='text' id='id_spend' name='spend' value='{% ifequal request.GET.highlight "2" %} {{ request.GET.spend }} {% endifequal %}'></td>
            <td><input type="hidden" id="id_revenue" name="revenue" value=1></td>
          <td><input type="button"  value="Predict" onmouseup="submitFormsSpend()"  class="btn btn-primary" /></td>
          <!--  <td><button type="Submit" id="copy"  class="btn btn-primary">Submit</button></td> -->
          </tr>
          <tr>
            <td><input type="hidden" id="id_conversion_mobile" name="conversion_mobile" value='0'></td>
            <td><input type="hidden" id="id_conversion_desktop" name="conversion_desktop" value='0'></td>
            <td><input type="hidden" id="id_aov_mobile" name="aov_mobile" value='0'></td>
            <td><input type="hidden" id="id_aov_desktop" name="aov_desktop" value='0'></td>
            <td><input type="hidden" id="id_cpc_mobile" name="cpc_mobile" value='0'></td>
            <td><input type="hidden" id="id_cpc_desktop" name="cpc_desktop" value='0'></td>
            <td><input type="hidden" id="id_mix_mobile" name="mix_mobile" value='0'></td>
          </tr>
      </form>

      <form id='form2' action="{% url  'budgetcalc' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
          <tr>
            <td>{{form.revenue.label}}</td>
            <td><input type='text' id='id_revenue' name='revenue' value='{% ifequal request.GET.highlight "1" %} {{ request.GET.revenue }} {% endifequal %}'></td>
            <td><input type="hidden" id="id_spend" name="spend" value="100"></td>
            <!--<td><input type="button"  value="Submit" onclick="submitFormsRevenue()" class="btn btn-primary" /></td>-->
            <td><button type="Submit" id="copy" class="btn btn-primary">Predict</button></td>
          </tr>
          <tr>
            <td><input type="hidden" id="id_conversion_mobile2" name="conversion_mobile" value='0'></td>
            <td><input type="hidden" id="id_conversion_desktop2" name="conversion_desktop" value='0'></td>
            <td><input type="hidden" id="id_aov_mobile2" name="aov_mobile" value='0'></td>
            <td><input type="hidden" id="id_aov_desktop2" name="aov_desktop" value='0'></td>
            <td><input type="hidden" id="id_cpc_mobile2" name="cpc_mobile" value='0'></td>
            <td><input type="hidden" id="id_cpc_desktop2" name="cpc_desktop" value='0'></td>
            <td><input type="hidden" id="id_mix_mobile2" name="mix_mobile" value='0'></td>
          </tr>
      </form>
      </table>
    </div>
    </div>
    <div class="col-1">

    </div>
    <div class='col-6'>
    <div class="row mb-3 ml-5">
      <ul class="list-group">
        <li class="list-group-item {% ifequal request.GET.highlight '1' %} list-group-item-success {% endifequal %}">Spend: ${{ request.GET.spend |floatformat:2|intcomma  }}</li>
        <li class="list-group-item {% ifequal request.GET.highlight '2' %} list-group-item-success {% endifequal %}">Revenue: ${{ request.GET.revenue |floatformat:2|intcomma }}</li>
        <li class="list-group-item">AOV: ${{ request.GET.aov |floatformat:2|intcomma }}</li>
        <li class="list-group-item">Traffic: {{ request.GET.traffic |floatformat:0|intcomma }}</li>
        <li class="list-group-item">Transactions: {{ request.GET.transactions |floatformat:0|intcomma }}</li>
        <li class="list-group-item">Revenue per Visit: ${{ request.GET.rpv |floatformat:2|intcomma }}</li>
      </ul>
    </div>

  </div>
</div>
<div class="row">
    <div class="col-lg-12">
  <table class="table table-responsive-md table-dark table-sm table-bordered">
  <form id='form3' action="{% url  'budgetcalc' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <thead>
        <tr>
          <th scope="col" class="text-center">Metrics Label</th>
          <th scope="col" class="text-center" colspan="2">Growth Percentage <br><sub>(for eg: 10 = 10%)</sub></br></th>
          <th scope="col" class="text-center">2020 Baseline</th>
          <th scope="col" class="text-center">2021 Target</th>
        </tr>
      </thead>
        <tr>
          <td>{{ form.conversion_mobile.label }}</td>
          <td><input placeholder="" type="number" id="{{ form.conversion_mobile.id }}" name="{{ form.conversion_mobile.name }} " min="-100" max="100" value="0" step="1"
                     onchange="updateTextInput1(this.value);conversion_mobileFunction(this);" value="{{request.GET.conversion_mobile}}" >
          </td>
          <td>
          <input type="text" id="textInput1" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>0.28%</td>
          <td>{{request.GET.conversion_mobile |floatformat:4|intcomma|mul:100}}%</td>
        </tr>

        <tr>
          <td>{{ form.conversion_desktop.label }}</td>
          <td><input placeholder="" type="number" id="{{ form.conversion_desktop.id }}" name="{{ form.conversion_desktop.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput2(this.value);conversion_desktopFunction(this);" value="{{request.GET.conversion_desktop}}">
          </td>
          <td>
          <input type="text" id="textInput2" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>0.76%</td>
          <td>{{request.GET.conversion_desktop |floatformat:4|intcomma|mul:100}}%</td>
        </tr>

        <tr>
          <td>{{ form.aov_mobile.label }}</td>
          <td><input placeholder="" type="number" id="{{ form.aov_mobile.id }}" name="{{ form.aov_mobile.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput3(this.value);aov_mobileFunction(this);" value="{{request.GET.aov_mobile}}">
          <td>
          <input type="text" id="textInput3" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>$437</td>
          <td>${{request.GET.aov_mobile |floatformat:0|intcomma }}</td>
        </tr>

        <tr>
          <td>{{ form.aov_desktop.label }}</td>
          <td><input placeholder="" type="number" id="{{ form.aov_desktop.id }}" name="{{ form.aov_desktop.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput4(this.value);aov_desktopFunction(this);" value="{{request.GET.aov_desktop}}">
          <td>
          <input type="text" id="textInput4" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>$533</td>
          <td>${{request.GET.aov_desktop |floatformat:0|intcomma}}</td>
        </tr>
<!---
        <tr>
          <td>{{ form.cpc_mobile.label }}</td>
          <td><input placeholder="" type="number" id="{{ form.cpc_mobile.id }}" name="{{ form.cpc_mobile.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput5(this.value);cpc_mobileFunction(this);" value="{{request.GET.cpc_mobile}}">
          <td>
          <input type="text" id="textInput5" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>$0.69</td>
          <td>${{request.GET.cpc_mobile |floatformat:2|intcomma}}</td>
        </tr>

        <tr>
          <td>{{ form.cpc_desktop.label }}</td>
           <td><input placeholder="" type="number" id="{{ form.cpc_desktop.id }}" name="{{ form.cpc_desktop.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput6(this.value);cpc_desktopFunction(this);" value="{{request.GET.cpc_desktop}}">
          <td>
          <input type="text" id="textInput6" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>$0.96</td>
          <td>${{request.GET.cpc_desktop |floatformat:2|intcomma}}</td>
        </tr>
--->
        <tr>
          <td>{{ form.mix_mobile.label }}</td>
           <td><input placeholder="" type="number" id="{{ form.mix_mobile.id }}" name="{{ form.mix_mobile.name }} " min="-100" max="100" value="0" step="1"
            onchange="updateTextInput7(this.value);mix_mobileFunction(this);" value="{{request.GET.mix_mobile}}">
          <td>
          <input type="text" id="textInput7" class="form-control form-control-sm col-3 " value="" readonly>
          </td>
          <td>72%</td>
          <td>{{request.GET.mix_mobile |floatformat:2|intcomma|mul:100}}%</td>
        </tr>

    </form>
  </table>
  </div>

</div>
</div>


<script type="text/javascript">

function updateTextInput1(val) {
            document.getElementById('textInput1').value=val;
          }
function updateTextInput2(val) {
            document.getElementById('textInput2').value=val;
          }
function updateTextInput3(val) {
            document.getElementById('textInput3').value=val;
          }
function updateTextInput4(val) {
            document.getElementById('textInput4').value=val;
          }
function updateTextInput5(val) {
            document.getElementById('textInput5').value=val;
          }
function updateTextInput6(val) {
            document.getElementById('textInput6').value=val;
          }
function updateTextInput7(val) {
            document.getElementById('textInput7').value=val;
          }


submitFormsSpend = function(){
  document.getElementById("form1").submit();
  //document.getElementById("form3").submit();
  //one = document.getElementById("id_conversion_mobile")
  //conversion_mobileFunction(one);
}

submitFormsRevenue = function(){
  document.getElementById("form2").submit();
  //document.getElementById("form3").submit();
}
</script>


<script type="text/javascript">
  function conversion_mobileFunction(input_metric) {
    var conversion_mobile = document.getElementById('id_conversion_mobile');
    var conversion_mobile2 = document.getElementById('id_conversion_mobile2');
    conversion_mobile.value = input_metric.value;
    conversion_mobile2.value = input_metric.value;
  }
  function conversion_desktopFunction(input_metric) {
    var conversion_desktop = document.getElementById('id_conversion_desktop');
    var conversion_desktop2 = document.getElementById('id_conversion_desktop2');
    conversion_desktop.value = input_metric.value;
    conversion_desktop2.value = input_metric.value;
  }
  function aov_mobileFunction(input_metric) {
    var aov_mobile = document.getElementById('id_aov_mobile');
    var aov_mobile2 = document.getElementById('id_aov_mobile2');
    aov_mobile.value = input_metric.value;
    aov_mobile2.value = input_metric.value;
  }
  function aov_desktopFunction(input_metric) {
    var aov_desktop = document.getElementById('id_aov_desktop');
    var aov_desktop2 = document.getElementById('id_aov_desktop2');
    aov_desktop.value = input_metric.value;
    aov_desktop2.value = input_metric.value;
  }
  function cpc_mobileFunction(input_metric) {
    var cpc_mobile = document.getElementById('id_cpc_mobile');
    var cpc_mobile2 = document.getElementById('id_cpc_mobile2');
    cpc_mobile.value = input_metric.value;
    cpc_mobile2.value = input_metric.value;
  }
  function cpc_desktopFunction(input_metric) {
    var cpc_desktop = document.getElementById('id_cpc_desktop');
    var cpc_desktop2 = document.getElementById('id_cpc_desktop2');
    cpc_desktop.value = input_metric.value;
    cpc_desktop2.value = input_metric.value;
  }
  function mix_mobileFunction(input_metric) {
    var mix_mobile = document.getElementById('id_mix_mobile');
    var mix_mobile2 = document.getElementById('id_mix_mobile2');
    mix_mobile.value = input_metric.value;
    mix_mobile2.value = input_metric.value;
  }
</script>



<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

{% endblock content %}
